body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u43 {
  position:absolute;
  left:-167px;
  top:278px;
  width:100px;
  height:60px;
  color:#336699;
}
#u44 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u45 {
  position:absolute;
  left:2px;
  top:278px;
  width:100px;
  height:60px;
  color:#336699;
}
#u46 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:-67px;
  top:308px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u47_seg1 {
  position:absolute;
  left:55px;
  top:-10px;
  width:21px;
  height:20px;
}
#u48 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u49 {
  position:absolute;
  left:156px;
  top:278px;
  width:100px;
  height:60px;
  color:#336699;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u51 {
  position:absolute;
  left:304px;
  top:278px;
  width:100px;
  height:60px;
  color:#336699;
}
#u52 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u53 {
  position:absolute;
  left:459px;
  top:278px;
  width:100px;
  height:60px;
  color:#336699;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u55 {
  position:absolute;
  left:603px;
  top:115px;
  width:100px;
  height:26px;
  color:#336699;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u57 {
  position:absolute;
  left:603px;
  top:219px;
  width:100px;
  height:26px;
  color:#336699;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u59 {
  position:absolute;
  left:603px;
  top:362px;
  width:100px;
  height:26px;
  color:#336699;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u61 {
  position:absolute;
  left:603px;
  top:502px;
  width:100px;
  height:26px;
  color:#336699;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:559px;
  top:308px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u63_seg1 {
  position:absolute;
  left:27px;
  top:-184px;
  width:8px;
  height:188px;
}
#u63_seg2 {
  position:absolute;
  left:27px;
  top:-184px;
  width:17px;
  height:8px;
}
#u63_seg3 {
  position:absolute;
  left:30px;
  top:-190px;
  width:21px;
  height:20px;
}
#u64 {
  position:absolute;
  left:-19px;
  top:-89px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:559px;
  top:308px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u65_seg1 {
  position:absolute;
  left:27px;
  top:-80px;
  width:8px;
  height:84px;
}
#u65_seg2 {
  position:absolute;
  left:27px;
  top:-80px;
  width:17px;
  height:8px;
}
#u65_seg3 {
  position:absolute;
  left:30px;
  top:-86px;
  width:21px;
  height:20px;
}
#u66 {
  position:absolute;
  left:-19px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:559px;
  top:308px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u67_seg1 {
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:75px;
}
#u67_seg2 {
  position:absolute;
  left:27px;
  top:63px;
  width:17px;
  height:8px;
}
#u67_seg3 {
  position:absolute;
  left:30px;
  top:57px;
  width:21px;
  height:20px;
}
#u68 {
  position:absolute;
  left:-19px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:559px;
  top:308px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u69_seg1 {
  position:absolute;
  left:27px;
  top:-4px;
  width:8px;
  height:215px;
}
#u69_seg2 {
  position:absolute;
  left:27px;
  top:203px;
  width:17px;
  height:8px;
}
#u69_seg3 {
  position:absolute;
  left:30px;
  top:197px;
  width:21px;
  height:20px;
}
#u70 {
  position:absolute;
  left:-19px;
  top:86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:102px;
  top:308px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u71_seg1 {
  position:absolute;
  left:40px;
  top:-10px;
  width:21px;
  height:20px;
}
#u72 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:256px;
  top:308px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u73_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:21px;
  height:20px;
}
#u74 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:404px;
  top:308px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u75_seg1 {
  position:absolute;
  left:41px;
  top:-10px;
  width:21px;
  height:20px;
}
#u76 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u77 {
  position:absolute;
  left:734px;
  top:485px;
  width:100px;
  height:60px;
  color:#336699;
}
#u78 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u79 {
  position:absolute;
  left:734px;
  top:345px;
  width:100px;
  height:60px;
  color:#336699;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u81 {
  position:absolute;
  left:888px;
  top:345px;
  width:100px;
  height:60px;
  color:#336699;
}
#u82 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u83 {
  position:absolute;
  left:888px;
  top:485px;
  width:100px;
  height:60px;
  color:#336699;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u85 {
  position:absolute;
  left:1035px;
  top:345px;
  width:100px;
  height:60px;
  color:#336699;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u87 {
  position:absolute;
  left:1035px;
  top:485px;
  width:100px;
  height:60px;
  color:#336699;
}
#u88 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:703px;
  top:375px;
  width:0px;
  height:0px;
}
#u89_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u89_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:21px;
  height:20px;
}
#u90 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:703px;
  top:515px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:35px;
  height:8px;
}
#u91_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:21px;
  height:20px;
}
#u92 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:834px;
  top:375px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u93_seg1 {
  position:absolute;
  left:40px;
  top:-10px;
  width:21px;
  height:20px;
}
#u94 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:988px;
  top:375px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u95_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:21px;
  height:20px;
}
#u96 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:834px;
  top:515px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u97_seg1 {
  position:absolute;
  left:40px;
  top:-10px;
  width:21px;
  height:20px;
}
#u98 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:988px;
  top:515px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u99_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:21px;
  height:20px;
}
#u100 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:86px;
}
#u101 {
  position:absolute;
  left:1191px;
  top:472px;
  width:153px;
  height:86px;
  color:#336699;
}
#u102 {
  position:absolute;
  left:2px;
  top:35px;
  width:149px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:86px;
}
#u103 {
  position:absolute;
  left:1409px;
  top:472px;
  width:153px;
  height:86px;
  color:#336699;
}
#u104 {
  position:absolute;
  left:2px;
  top:35px;
  width:149px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u105 {
  position:absolute;
  left:1213px;
  top:629px;
  width:110px;
  height:70px;
  color:#336699;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u107 {
  position:absolute;
  left:1218px;
  top:747px;
  width:100px;
  height:60px;
  color:#336699;
}
#u108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1268px;
  top:558px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u109_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:21px;
}
#u110 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:1268px;
  top:699px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u111_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:21px;
}
#u112 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:1344px;
  top:515px;
  width:0px;
  height:0px;
}
#u113_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u113_seg1 {
  position:absolute;
  left:51px;
  top:-10px;
  width:21px;
  height:20px;
}
#u114 {
  position:absolute;
  left:-18px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u115 {
  position:absolute;
  left:1436px;
  top:629px;
  width:100px;
  height:60px;
  color:#336699;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u117 {
  position:absolute;
  left:1628px;
  top:485px;
  width:100px;
  height:60px;
  color:#336699;
}
#u118 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1562px;
  top:515px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u119_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:21px;
  height:20px;
}
#u120 {
  position:absolute;
  left:-17px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1486px;
  top:558px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u121_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:21px;
}
#u122 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1135px;
  top:515px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u123_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:21px;
  height:20px;
}
#u124 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:86px;
}
#u125 {
  position:absolute;
  left:1201px;
  top:331px;
  width:153px;
  height:86px;
  color:#336699;
}
#u126 {
  position:absolute;
  left:2px;
  top:35px;
  width:149px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:86px;
}
#u127 {
  position:absolute;
  left:1419px;
  top:331px;
  width:153px;
  height:86px;
  color:#336699;
}
#u128 {
  position:absolute;
  left:2px;
  top:35px;
  width:149px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1354px;
  top:374px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u129_seg1 {
  position:absolute;
  left:51px;
  top:-10px;
  width:21px;
  height:20px;
}
#u130 {
  position:absolute;
  left:-18px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u131 {
  position:absolute;
  left:1638px;
  top:344px;
  width:100px;
  height:60px;
  color:#336699;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1572px;
  top:374px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u133_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:21px;
  height:20px;
}
#u134 {
  position:absolute;
  left:-17px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1145px;
  top:374px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u135_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:21px;
  height:20px;
}
#u136 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:71px;
}
#u137 {
  position:absolute;
  left:1223px;
  top:228px;
  width:110px;
  height:70px;
  color:#336699;
}
#u138 {
  position:absolute;
  left:2px;
  top:27px;
  width:106px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u139 {
  position:absolute;
  left:1227px;
  top:124px;
  width:100px;
  height:60px;
  color:#336699;
}
#u140 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u141 {
  position:absolute;
  left:1446px;
  top:238px;
  width:100px;
  height:60px;
  color:#336699;
}
#u142 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:1278px;
  top:331px;
  width:0px;
  height:0px;
}
#u143_seg0 {
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:37px;
}
#u143_seg1 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:20px;
  height:21px;
}
#u144 {
  position:absolute;
  left:-50px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1278px;
  top:228px;
  width:0px;
  height:0px;
}
#u145_seg0 {
  position:absolute;
  left:-4px;
  top:-32px;
  width:8px;
  height:32px;
}
#u145_seg1 {
  position:absolute;
  left:-5px;
  top:-32px;
  width:9px;
  height:8px;
}
#u145_seg2 {
  position:absolute;
  left:-5px;
  top:-44px;
  width:8px;
  height:20px;
}
#u145_seg3 {
  position:absolute;
  left:-11px;
  top:-51px;
  width:20px;
  height:21px;
}
#u146 {
  position:absolute;
  left:-50px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:1496px;
  top:331px;
  width:0px;
  height:0px;
}
#u147_seg0 {
  position:absolute;
  left:-4px;
  top:-33px;
  width:8px;
  height:37px;
}
#u147_seg1 {
  position:absolute;
  left:-10px;
  top:-40px;
  width:20px;
  height:21px;
}
#u148 {
  position:absolute;
  left:-50px;
  top:-24px;
  width:100px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u149 {
  position:absolute;
  left:1218px;
  top:837px;
  width:100px;
  height:60px;
  color:#336699;
}
#u150 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#336699;
}
#u151 {
  position:absolute;
  left:1228px;
  top:36px;
  width:100px;
  height:60px;
  color:#336699;
}
#u152 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:1277px;
  top:124px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u153_seg1 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:9px;
  height:8px;
}
#u153_seg2 {
  position:absolute;
  left:-3px;
  top:-28px;
  width:8px;
  height:18px;
}
#u153_seg3 {
  position:absolute;
  left:-9px;
  top:-35px;
  width:20px;
  height:21px;
}
#u154 {
  position:absolute;
  left:-50px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:1268px;
  top:807px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u155_seg1 {
  position:absolute;
  left:-10px;
  top:16px;
  width:20px;
  height:21px;
}
#u156 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
